.button-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-container button {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
}